*{margin: 0;}

h9 {
  color: rgb(59, 51, 48);
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  font-family: 'Jua', sans-serif;
}

body {
  background-color: lightblue;
  text-align: center;
  margin: -35px;
}

#guess {
  letter-spacing: 17px;
  font-size: 32px;
  height: 143px;
  line-height: 184px;
  margin-top: -30px;
}

#hang-img {
  font-size: 30px;
  margin: -185px;
}

.letter-button{
  border-radius: 8px;
  padding: 10px 15px;
  font-size:45px;
  font-weight: bold;
  white-space: nowrap;
  background-color:white;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
  letter-spacing: 4px;
}
#reset {
  border-radius: 8px;
  padding: 7px 28px;
  margin-bottom: 37px;
  font-size:50px;
  background-color:gold;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
  letter-spacing: 4px;
}

#wrong {
  position: relative;
  margin-top: -181px;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}

#message {
  position: relative;
  width: 50%;
  left: 1px;
  top: -177px;
  margin: -492px auto;
  display: none;
  border-radius: 5px;
  color: rgb(255, 0, 0);
  padding: 130px;
  font-size: 30px;
} 

.setting{
  position: absolute;
  top: 25px;
  left: 1750px;                
  width: 170px;
}

.setting img{
  cursor: pointer;
  width: 50px;
  margin-right: 25px;
}

.modal, .lastSEC {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal button {
  cursor: pointer;
  position: absolute;
  left: 1230px;
  top: 50px;
  background: transparent;
  border: 0;
  
  font-size: 80px;
  text-shadow: 2px 3px 2px gray;
  color: #ffffff;
  z-index: 100;
}
.modalBox {
  position: relative;
  left: 610px;
  top: 50px;
  width: 700px; 
  height: 800px;
  border-radius: 30px;
  background-image: url('../img/HangmanGame/hangmanlast.gif');
  background-size: 100% 100%;

  text-align: center;
  font-size: 30px;
  font-family: 'Jua', sans-serif;
}
.modalBox>span{
  position: relative;
  top: 100px;
}
.modalBox img{ width: 200px; }

.last{
  position: absolute;
  top: 160px;
  left: 585px;
  width: 750px;
  height: 530px;
  background-image: url('../img/HangmanGame/hangmanlast.gif');
  background-size: 100% 100%;
  font-family: 'Jua', sans-serif;
}
.last img{
  position: absolute;
  left: 90px;
  top: 50px;
}
.last span{
  position: absolute;
  left: 395px;
  top: 80px;
  font-size: 50px;
}
.last a{
  position: absolute;
  left: 450px;
  top: 410px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
}