@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@font-face{
	src: url("../font/Black_Han_Sans/BlackHanSans-Regular.ttf");
    font-family: "Black Han Sans"; 
}
body{
    background-color:ivory;
    background-size: 1930px 950px;
}

.header{
    /* border:1px solid black; */
    width:100%;
    height:100px;
    /* margin-top:5%; */
}

#setting{
    position:absolute;
    width:200px;  
    right:5%;
}

#setting button{
    border:none;
    background-color: ivory;
}

#setting button img{
    width:50px;
    padding:10px;
}


#pause{
    position: absolute;
    /* border:1px solid yellow; */
    width:50px; 
    margin-left:10%;
    margin-top:1%;
}

#pause img{
    cursor:pointer;
    width:50px;
    margin-right:10px;
}


#pong{
    margin:auto;
    margin-top:3%;
    display:block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.6);
  }

  .modalBox {
    position: absolute;
    background-image: url('../img/PingPongGame/대지\ 1.png');
    background-size: 100% 100%;

    border-radius: 30px;
    width: 600px;
    height: 700px;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;
  }

  .modalBox button {
    display: block;
    width: 80px;
    border:1px solid black;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }

  .nextBtn{
    cursor:pointer;
  }

  #demo{
    border:1px solid black;
    width:20%;
    height:auto;
    margin-left:40%;
    margin-top:10px;
    font-size:50px;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
  }
